@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}
body{
  height: 100vh;
  display: flex;
}
.side-image{
  width: 40%;
  background-image: url(./assets/pexels-syed-qaarif-andrabi-12495614.jpg);
  background-size: cover;
  text-align: center;
  position: relative;
}
.side-image .header{
  margin-top: 30%;
  background-color: rgba(0, 0, 0, 0.544);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img{
  filter: invert(100%) sepia(9%) saturate(3297%) hue-rotate(246deg) brightness(120%) contrast(108%);
  margin-right: 5px;
}
.header span{
  color: white;
  font-size: 3rem;
  
}
.citation{
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-decoration: none;
  color: gray;
  margin: 0 5px 3px 0;
}
.form{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info{
  margin-top:-100px;
  padding: 30px;
  font-size: 1.2rem;
}
.info p:first-child{
  margin-bottom: 10px;
}
.inputs{
  padding-left: 30px;
}
.form-header{
  margin-bottom: 10px;
}
.form-header h1{
  font-size: 1.4rem;
}
.lines{
  display: flex;
  gap: 100px;
  margin-bottom: 10px;
}
.lines div{
  display: flex;
  flex-direction: column;
}
.lines div input{
  width:250px;
  margin-top:3px;
  padding: 2px;
  font-size: 1rem;
}
input:invalid:not(:placeholder-shown):not(:focus){
  border: 2px solid red;
}
input:valid:not(:placeholder-shown):not(:focus){
  border: 2px solid green;
}
#con-pass{
  border: 1px solid gray;
}
.false-confirmation{
  position: relative;
}
.false-confirmation::after{
  content: 'Passwords do not match';
  color: red;
  font-size: 0.8rem;
  position: absolute;
  bottom: -20px;
}
.lines div input:focus{
  border: 2px solid blue;
  outline: none;
}
.btn{
  padding-left:30px;
}
.btn button{
  margin:10px 0 16px 0;
  font-size: 1rem;
  padding:2px 4px;
  cursor: pointer;
  background-color: darkcyan;
  color: white;
  border: none;
}